# Dictionary in Python

In [5]:
my_dict ={"A for":"apple","B for":"Ball", "C for":"Cat"}

In [6]:
my_dict

{'A for': 'apple', 'B for': 'Ball', 'C for': 'Cat'}

In [7]:
dir(my_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [8]:
print(my_dict["A for"])

apple

In [1]:
name = "Ramesh"
age = 34
address= "Patan"

In [2]:
details ={"Name":"Ramesh", "Age":34, "Address":"Patan"}

In [4]:
details["Name"]

'Ramesh'

In [14]:
type(details)

dict

In [15]:
type(details["Age"])

int

In [18]:
details["subject"] = "Science, Maths, computer"

In [19]:
details

{'Name': 'Ramesh',
 'Age': 34,
 'Address': 'Patan',
 'subject': 'Science, Maths, computer'}

In [51]:
details["subject"] = ["Science", "Maths", "computer"]

In [25]:
details
# adding list in the dictionary as values

{'Name': 'Ramesh',
 'Age': 34,
 'Address': 'Patan',
 'subject': ['Science', 'Maths', 'computer']}

In [34]:
type(details["subject"])

list

In [35]:
details["subject"]

['Science', 'Maths', 'computer']

In [33]:
details.get("Address")

'Patan'

In [37]:
details["subject"].append("Social")
details

{'Name': 'Ramesh',
 'Age': 34,
 'Address': 'Patan',
 'subject': ['Science', 'Maths', 'computer', 'Social', 'Social']}

### NOTE: use big bracket for values in dict and small bracket to USE the function

# only to extract keys of dictionary

In [38]:

print(details.keys())  #

dict_keys(['Name', 'Age', 'Address', 'subject'])

# only to extract Values

In [39]:
print(details.values())

dict_values(['Ramesh', 34, 'Patan', ['Science', 'Maths', 'computer', 'Social', 'Social']])

In [49]:
print(details.pop("Address"))

Patan

In [27]:
dir(details)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# pop / remove the key and values

In [46]:
print(details)

{'Name': 'Ramesh', 'Age': 34, 'Address': 'Patan', 'subject': ['Science', 'Maths', 'computer', 'Social', 'Social']}

In [52]:
print(details)

{'Name': 'Ramesh', 'Age': 34, 'subject': ['Science', 'Maths', 'computer']}

In [55]:
details.update("Age")=40

SyntaxError: cannot assign to function call (Temp/ipykernel_14196/3243489117.py, line 1)

#

In [56]:
# 1. Create a List named "datatypes" with the values "integer", "strings" and "floats" present in it.

In [57]:
datatypes = [55, "Bhuwan",4.6, "hello"]

In [59]:
print(datatypes)

[55, 'Bhuwan', 4.6, 'hello']

In [63]:
# 2. Create an empty list named "asianCountries" and using the `.append()` method of 
# the list, add some countried to the list.

In [87]:
asianCountries =[]

In [82]:
asianCountries

[]

In [88]:
asianCountries.append(["Nepal","India","Bhutan"])

In [84]:
asianCountries

[['Nepal', 'India', 'Bhutan']]

In [89]:
# extend
asianCountries1 =["Pakistan","Bangadesh","China"]
asianCountries1.extend(asianCountries)

In [90]:
asianCountries1

['Pakistan', 'Bangadesh', 'China', ['Nepal', 'India', 'Bhutan']]

In [91]:
#3. From the list "asianCountries", remove the first two items.

In [92]:
asianCountries.pop(0)

['Nepal', 'India', 'Bhutan']

In [93]:
asianCountries

[]

In [94]:
asianCountries1.pop(0)

'Pakistan'

In [95]:
asianCountries1.pop(0)

'Bangadesh'

In [96]:
asianCountries1

['China', ['Nepal', 'India', 'Bhutan']]

In [97]:
# 4. Create a dictionary named "priceMobile" and add "samsung", "mi" and "apple" as keys and "high", "medium" and "high".

In [108]:
priceMobile ={"Samsung":"HIgh", "MI":"Medium", "Apple":"High"}
priceMobile

{'Samsung': 'HIgh', 'MI': 'Medium', 'Apple': 'High'}

In [ ]:
# 5. Add another key "Oppo" to the dictionary with value "medium".

In [109]:
priceMobile["Oppo"]="Medium"

In [110]:
priceMobile

{'Samsung': 'HIgh', 'MI': 'Medium', 'Apple': 'High', 'Oppo': 'Medium'}

In [105]:
# 6. Remove the key "apple" from the dictionary.

In [111]:
priceMobile.pop("Apple")

'High'

In [112]:
priceMobile

{'Samsung': 'HIgh', 'MI': 'Medium', 'Oppo': 'Medium'}